<section class="site-section" id="aboutMe" [@flyInOut]="'in'">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                <img src="assets/dev.jpg" alt="image" class="img-fluid">
            </div>
            <div class="col-lg-5 pl-lg-5">
                <div class="section-heading">
                    <h2>About <strong>Me</strong></h2>
                </div>
                <p class="lead">Let me introduce myself. My name is Benoit Bourgeon and I am a full-stack web developer specialized in .NET technologies.</p>
                <p class="mb-5">After studying in France and working a bit, I decided to move to England. Once here, it wasn't easy I had to learn a lot of new technologies to become a web developer and I think this is my strength. I know a variety of technologies and I am not scared to learn new frameworks.</p>
                <p class="mb-5">5 years may not sound like a lot of experience, as I said it wasn't my initial domain of expertise due to my studies. But I enjoy it a lot and I think the future of the web technologies are typescript, maybe not with the angular framework but at the moment this is the only framework using this full potential.</p>
                <p class="mb-5">I am looking for a new opportunity/challenge in a dynamic environment with web development.</p>

                <p>
                    <button mat-stroked-button routerLink="/home/aboutMe/skills" class="outline">See my Skills</button>
                </p>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>